extends layout.pug
//- herada el formato de layout el index

block content
	section.container
		h1.header= titulo
		img(src="nasa.jpg")
		article.item
			div
				a.button.add(href="/agregar") AGREGAR
			if(data.length)
				table.table
					tr
						th Número
						th Nombre
						th Correo
						th Ciudad
					each d in data
						tr
							td #{d.id}
							td #{d.nombre}
							td #{d.correo}
							td #{d.ciudad}
							td
								a.button.edit(href="/editar/"+d.id) EDITAR
							td
								form(enctype="application/x-www-form-urlencoded", method="post", action="/eliminar/" + d.id)
									input(type="hidden", name="_method", value="DELETE")
									input.button.delete(type="button", value="Eliminar", onclick="eliminar(this)")
				script.
					function eliminar(input){
					var deleteOK = confirm("¿ Desea eliminar el registro?");
					return (deleteOK) ? input.parentNode.submit() : false;
					}
			else
				div.error NO HAY DATOS
